.group {
    // border: 1px solid black;
    display: flex;

    .single-select{
        width: 150px;
        mat-form-field{
            // border: 1px solid red;
            width: 100%;
        }
    }
    
    .multi-select{
        width: 150px;
        mat-form-field{
            // border: 1px solid blue;
            width: 100%;
        }
    }
}