<!-- <p>custom-filter-group works!</p> -->
<div class="group">
    <div class="single-select">
      <!-- <h3>Single selection with option groups</h3> -->
      <mat-form-field floatLabel="never">
        <mat-select 
        [(ngModel)]="selectedDimension"
        placeholder="Dimension"
        (selectionChange)="dimensionChange($event.value);"
        >
          <mat-option>
            <ngx-mat-select-search [formControl]="filterGroupsFilterCtrl"
            placeholderLabel="Search"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-optgroup *ngFor="let group of filteredCustomFilterGroups | async" [label]="group.name">
            <mat-option *ngFor="let item of group.filterItems" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="multi-select">
        <!-- <h3>Multi Select</h3> -->
        <mat-form-field floatLabel="never" color="primary">
            <mat-select [ngModel]="selectedValues" (ngModelChange)="valuesChange($event)" placeholder="Property Values"
            [multiple]="true"
            [matTooltip]="propValsTooltip"
            [disabled]="selectedDimension.name.length === 0"
            >
                <mat-option>
                    <ngx-mat-select-search [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)"
                        [formControl]="propValFilterCtrl" [toggleAllCheckboxTooltipMessage]="tooltipMessage"
                        [toogleAllCheckboxTooltipPosition]="'above'" placeholderLabel="Search">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let prop of filteredPropValsMulti | async" [value]="prop">
                    {{prop.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>