<h1>DOR Works!</h1>
<div class="custom-filter-container">
  <div class="top">
    <div class="label">Filters</div>
    <div (click)="onAddClick()">
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      </div>
  </div>
  <div class="filter-group" *ngFor="let n of numOfGroups">
    <app-custom-filter-group
    (selectedDimensionChange)="selectionChanged($event)" 
    (selectionChange)="selectedDimPropValsChanged($event)"    
    ></app-custom-filter-group>

    <div class="delete-group">
      <button mat-icon-button (click)="onDeleteClick(n)" >
        <mat-icon>delete</mat-icon>
      </button>
    </div>    
  </div>
</div>