<h1>DOR Works!</h1>
<p>Dimension dropdown</p>
<mat-form-field floatLabel="never">
  <mat-select [formControl]="filterGroupsCtrl" placeholder="Select Dimension" #dimensionSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]="filterGroupsFilterCtrl"
      placeholderLabel="enter dimension name"
      ></ngx-mat-select-search>
    </mat-option>
    <mat-optgroup *ngFor="let group of filteredCustomFilterGroups | async" [label]="group.name">
      <mat-option *ngFor="let item of group.filterItems" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
<div class="custom-filter-container">
  <div class="top">
    <div class="label">Filters</div>
    <div (click)="onAddClick()" ><mat-icon>add</mat-icon></div>
  </div>
  <div class="group" *ngFor="let n of numOfGroups" >
    <div class="single-select">
      <!-- <h3>Single selection with option groups</h3> -->
      <mat-form-field floatLabel="never">
        <mat-select [formControl]="bankGroupsCtrl" placeholder="Bank">
          <mat-option>
            <ngx-mat-select-search [formControl]="bankGroupsFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-optgroup *ngFor="let group of filteredBankGroups | async" [label]="group.name">
            <mat-option *ngFor="let bank of group.banks" [value]="bank">
              {{bank.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="multi-select">
        <!-- <h3>Multi Select</h3> -->
        <mat-form-field floatLabel="never" color="primary">
            <mat-select [ngModel]="selectedValues" (ngModelChange)="selectionChange.emit($event)" placeholder="Banks"
                [multiple]="true" #multiSelect>
                <mat-option>
                    <ngx-mat-select-search [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)"
                        [formControl]="bankMultiFilterCtrl" [toggleAllCheckboxTooltipMessage]="tooltipMessage"
                        [toogleAllCheckboxTooltipPosition]="'above'" placeholderLabel="Search">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                    {{bank.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="delete-btn" (click)="onDeleteClick(n)" >
      <mat-icon>delete</mat-icon>
    </div>

  </div>
</div>