<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" >
    <input type="text" 
    formControlName="projectName"
    placeholder="enter project name">
    <input type="text" 
    formControlName="email"
    placeholder="enter email id">
    <select formControlName="projectStatus" >
        <option value="stable">Stable</option>
        <option value="critical">Critical</option>
        <option value="finished">Finished</option>
    </select>
    <button type="submit" [disabled]="projectForm.invalid" >Submit</button>
</form>