
.custom-filter-container{
    width: 400px;
    margin: 0px 20px;
    border-radius: 4px;
    // border: 1px solid blue;
    background: lightgray;

    .filters-top{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        width: 96%;
        
        // border: 1px solid black;
        mat-icon{
            cursor: pointer;
        }

        .label{
            font-size: 1rem;
        }
    }
    .custom-filter{
        // border: 1px solid red;
        display: flex;
        width: 100%;
    
        .dimension-select{
            width: 40%;
        }
        
        .property-values-select{
            width: 40%;
        }

        .delete-btn{
            width: 10%;
            // border: 1px solid blue;
            margin: 0px 16px;

            button{
                height: 50px;
            }
        }
    }
}