<!-- <app-empirix></app-empirix> -->
<div class="flex-container">
    <!-- <app-multi-select></app-multi-select> -->
    <!-- <app-dor></app-dor> -->
    <h2>test sign in with MS Account</h2>
</div>
<!-- <div class="wrapper">
  <app-microsoft-login></app-microsoft-login>  
</div> -->
<!-- reactive forms -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-active-users></app-active-users>
<app-inactive-users></app-inactive-users> -->
<app-inline-edit [label]="'Last Name'"  [fcName]="'lastName'" [value]="fcValue" 
(inputSaved)="inputRec($event)"
></app-inline-edit>